
.card {
    margin: 3%;
    min-width: 280px;
    z-index: 0;
    flex-grow: 1;
}

img {
    object-fit: contain;
}

.artistWidget {
    margin: 20px;
    display: flex;
    justify-content: center;
}