html {
  background: #191414;
  /*text-align: center;*/
}

h1, h2, h3 {
  color: #1db954;
}

#title {
  font-weight: 300;
}

#nav {
  text-align: center;
}

.searchContainer {
  position: absolute;
  width: 25%;
  top:50%;
  transform: translateY(-50%);
}
